@media (max-width: 1710px) {
    .header-content {
    padding: 0 60px;

    }

    .header-socials img:first-child {
        padding-right: 10px;
    }


    .header-info {
        gap: 15px;
    }

    .header-list {
        gap: 15px;
    }


    .header-img {
        max-width: 160px;
    }



    .section1-content {
        padding-left: 60px;
    }

    /* .section1-text h1 {
        font-size: 80px;

    }

    .section1-text span {
    
        font-size: 30px;
    } */




    .section2-content {
        padding: 0 60px;
        padding-top: 102px;
    }


    .section3-content {
    padding: 0 60px;
    height: 385px;

    }

    .section3-text h2 {
        font-size: 35px;
        font-weight: 700;
        margin-bottom: 27px;
    }




    .section4-content {
    padding: 0 60px;

    }



    .section5-content {
        padding: 0 60px;
    
        
    }


    .section6-content {
        padding: 0 60px;
    }




    .section7-content {
        padding: 0 60px;
        height: 385px;
    
        }
    
    .section7-text h2 {
        font-size: 35px;
        font-weight: 700;
        margin-bottom: 27px;
    }


    .section8-content {
        padding: 83px 60px;
    }



    .section9-content {
    padding: 0 60px;

    }


    .footer-content {
    padding: 0 60px 54px 60px;

    }


    /* .carousel-item.active {
        display: flex;
        justify-content:center;
        flex-wrap: wrap;
    } */

    
}





@media (max-width: 1470px) {


    .header-img {
        max-width: 130px;
    }

    .header-list-item {
        font-size: 12px;
    }


    .header-number {
        font-size: 16px;
    }

    .header-button {
        padding: 9px 10px 9px 10px;
    }




    .section1-text h1 {
        font-size: 88px;
    }





    .section4-cards {
        row-gap: 15px;

        max-width: 1025px;
    }




    .section4-grid268 {
        width: 193px;
    }
    
    .section4-grid557 {
        width: 401px;
    }
    
    .section4-grid363 {
        width: 261px;
    }
    
    .section4-grid460 {
        width: 331px;
    }


    .section4-card span {
        font-size: 12px;
    }




    .section6-cards {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: 1fr 1fr;
        justify-content:space-around;
        row-gap: 50px;
    }





    .carousel-item.active {
        display: flex;
        align-items: center;
        flex-direction: column;
    }



    .footer-othertext {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: auto auto;
        gap: 45px;
    }


    
}





@media(max-width: 1280px) {


    .container {
        padding: 0 20px;

    }


    .header {
        margin: 0;
    }

    .header-content {
        padding: 0;
        margin: 17px 0;
    }

    .header-nav {
        display: none;
    }
    
    .nav-button {
        display: block;
    }



    .section1-text {
        padding: 50px 0 318px 0px;
        
    }

    /* .section1-strelki {
        display: none;
    } */




    .section1-content {
        position: relative;
        display: flex;
        justify-content: space-between;
        background: url(../images/main/deti-back.png);
        background-position: center;
        background-position: -550px;
        background-repeat: no-repeat;
        background-size: cover;
        
    }

    .section1-card {
        display: none;
    }

    .section1-card2 {
        display: flex;
    }

    .container-section2 {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }








    .section2-backimg {
        display: none;
    }


    .section2-content {
        padding: 0 0px;
        padding-top: 37px;
        margin: 0;
    }


    .section2-card span {
        font-size: 13px;
    }







    .section3-content {
        padding-top: 33px;
        display: flex;
        flex-direction: column  ;
        justify-content: space-between;
        background-color: #8081BD;
        height: auto;
        gap: 50px;
    }



    .section3-img1 {
        position: relative;
        top: 40px;
        height: calc(100% + 90px);
    
    }
    
    .section3-img2 {
        position: absolute;
        top: -40px;
        height: calc(100% + 40px);
        /* z-index: -1; */
    
    }





    .section4-content {
        padding: 0;
    
        }

    .section4-cards {

    }
    
    
    .section4-card-image {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
        height: 56px;
        width: 56px;
    
    }
    
    
    
    .section4-card {
        width: 47%;
        display: grid;
        grid-template-columns: 76px auto ;
        align-items: center;
        background-color: #FFF6D1;
        padding: 12px 0 12px 12px;
        border-radius: 10px;
    }

    .section4-cardlast {
        width: 100%;
    }







    .section5-content {
        padding: 0;
    
        
    }



    .section5-cards {
        margin-top: 58px;
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr;
        gap: 25px;
    }



    .section6-content {
        margin: 0;
    }



    .section7-content {
        padding-top: 33px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #FFF6D1;
        height: auto;
        gap: 50px;
    }
    

    .section7-img1 {
        position: relative;
        top: 26px;
        height: calc(100% + 70px);
    
    }
    
    .section7-img2 {
        position: absolute;
        top: -40px;
        height: calc(100% + 40px);
        /* z-index: -1; */
    
    }



    .section8-content {
        padding: 83px 0px;
    }




    .footer-content {
        padding: 0 0 54px 0;
    
        }



}




@media(max-width: 1020px) {

    .footer-othertext {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: auto auto auto;
        gap: 45px;
    }
}



@media(max-width: 860px) {
    .header-info a {
        display: none;
    }

    





    .section2-content {
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        
        
    }



    .section2-card {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        align-items: center;
        gap: 20px;
        justify-items: center;
        text-align: center;
    }



    .section2-card span {
        font-size: 12px;
    }




    



    .footer-othertext {
        display: none;
    }


    .footer-content {
        text-align: center;
    }

    .footer-main {
        justify-content: center;
    }

    .footer-logotext-images {
        justify-content: center;
    }
}







@media(max-width: 750px) {
    .section6-content {
        padding: 0;
    }

    .section6-card {
        justify-items: center;
        text-align: center;
    }

    .section6-card img {
        max-width: 183px;
    }


    .section9-content {
        padding: 0 18px;
    
        }

}


@media(max-width: 575px) {

    .section1-content {
        padding: 0 0 0 18px;
    }

    .section1-strelki {
        margin: 30px 0 0;
    }

    .section1-strelki img {
        width: 36px;
    }

    .section1-text h1 {
        font-size: 50px;
        font-weight: 700;
        margin-bottom: 11px;
    }


    .section1-text span {
    
        font-size: 24px;
        font-weight: 600;
    }


    .section1-card2 {
        padding: 32px 18px 46px 18px;
    }

    .section1-card2 p {
        margin-bottom: 11px;
    }




    .section5-cards {
        margin-top: 58px;
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr;
        gap: 25px;
    }

    .section5-card {
        text-align: center;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        align-items: center;
        justify-items: center;
    }





    .section9-content h2 {
        padding-top: 28px;
        font-size: 24px;
        font-weight: 700;
    }

    .carousel-container {
        padding: 28px 0;
    }

    .prev,
    .next {
        width: 30px;

    }

    .carousel {
        display: flex;
        margin-left: 40px;
        margin-right: 40px;
        overflow: hidden;
    }


    .review {
        padding: 30px 20px;
    }

    .review span {
        font-size: 12px;
    }

    .review-name img {
        width: 37px;
        height: 37px;
    }

    .review h3 {
        font-size: 16px;
    }

    .review-name-name p {
        font-size: 12px;
    }

    .review-name {
        gap: 17px;
        margin-bottom: 14px;
    }

}



@media(max-width: 475px) {


    .section1-text h1 {
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 11px;
    }


    .section1-text span {
    
        font-size: 14px;
        font-weight: 600;
    }

    .section4-card {
        width: 100%;
        display: grid;
        grid-template-columns: 76px auto ;
        align-items: center;
        background-color: #FFF6D1;
        padding: 12px 0 12px 12px;
        border-radius: 10px;
    }

    .section4-cardlast {
        width: 100%;
    }



    .section4-card span {
        text-align:start;
    }




    .section3-text h2 {
        font-size: 20px;
        margin-bottom: 11px;
    }


    .section3-content {
        padding: 33px 20px 0px 20px;
    }


    .section3-input {
        padding-left: 10px;
        font-size: 10px;
    }


    .section3 {
        margin-bottom: 58px;
    }


    .section4-content {
        margin-bottom: 42px;
    
    }

    .section4-content h2 {
        font-size: 24px;
        margin-bottom: 17px;
    }


    



    .section5-content {
        margin-bottom: 42px;
    
        
    }


    
.section5-content h2 {
    font-size: 24px;
    margin-bottom: 10px;
}


.section5-content > span {
    font-size: 16px;
}



.section5-cards {
    margin-top: 39px;
}


.section5-card span {
    font-size: 12px;
}

.section5-card {
    gap: 15px;
}





.section6-content h2 {
    font-size: 24px;
    margin-bottom: 23px;
}


.section6-card img {
    max-width: 133px;
}


.section6-card div {
    font-size: 16px;
    margin-bottom: 11px;
}




.section7-text h2 {
    font-size: 20px;
    margin-bottom: 11px;
}


.section7-content {
    padding: 33px 20px 0px 20px;
}


.section7-input {
    padding-left: 15px;
    font-size: 10px;
}


.section7 {
    margin-bottom: 58px;
}



.section8-content {
    padding: 0 0 18px;
}


.section8-content h2 {
    font-size: 24px;
    margin-bottom: 12px;
}


.section8-content p {
    margin-bottom: 16px;
    font-size: 16px;
}


.section8-content h3 {
    font-size: 16px;
    margin-bottom: 18px;
}

.section8-list-item {
    font-size: 14px;
}

.section10-content {
    padding-bottom: 47px;
}


.footer-number {
    font-size: 24px;
    margin-bottom: 3px;
}
}


